
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #151515;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin: auto
}

header{
    text-align: center;
    width: 100%;
    height: 760px;
    margin-top: 20px;
  }

.btnmenu{
    position: absolute;
    cursor: pointer;
    top:15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
}

/*barra de navegacion*/
.barras{
    background:#151515;
    padding: 15px;
    text-align: right;
    height: 60px;
    margin-bottom: 10px;
}

.internos li{
    
    padding: 5px;
    font: right 100;
    font-family: Verdana;
    display: inline-block
}

ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover{
    border-bottom: 2px solid yellowgreen;
    color: yellow;
    font-size: 20px;
    font-weight: 500px;
}

.rojo{
    background-color: #6D214F;
    color:white;
    padding: 5px 5px;
    border-radius: 4px;
}

hr {
    margin: 10px 0;
  }

 /*presentacion o inicio*/

.titulo {
    width: 30%;
    padding-top: 50px;
    font-size: 350%;
    font-weight: 700;
    margin: auto;
}

.logo{
    width: 28%;
    height: 290px;
    padding-top: 50px;
}

h4{
    width: 30%;
    padding-top: 50px;
    font-size: 150%;
    font-weight: 50;
    margin: auto;
}

/*toda la pagina restante o cuerpo*/
.cuerpo{
    background: #f7f1e3;
    text-align: center;
    color: black;
    margin: auto;
}

/*titulo de cada secion*/
.pagtitulo{
    color: #b33939;
    font-style: italic;
}

/*seccion personal*/
.personal{
    padding: 10px 0;
    width:100%;
    height: 1350px;
    background: #f1f2f6;
    
}

.gridpersonal div .grados{
    background: #6D214F;
    color: white;
}

.gridpersonal{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    grid-template-rows: repeat(10,1fr);
    grid-template-rows: minmax(250px,300px);
}

/*comienza la parte izquierda*/
.gridmaestrosizq{
    justify-self: end;
}

.gridmaestrosizq{
    position: relative;
    height: 250px;
    width: 300px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;

}

.gridmaestrosizq figure .grados{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.gridmaestrosizq figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.gridmaestrosizq figure:hover > .capa{
    opacity: 1;
    visibility: visible;

}

.gridmaestrosizq figure:hover > .capa h5{
    margin-top: 70px;
    margin-bottom: 15px;
}

.gridmaestrosizq figure .capa h5{
    color: white;
    font-weight: 400px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;

}

/*comienza la parte central*/
.gridmaestroscen{
    justify-self: center;
}

.gridmaestroscen{
    position: relative;
    height: 250px;
    width: 300px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;

}

.gridmaestroscen figure .grados{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.gridmaestroscen figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.gridmaestroscen figure:hover > .capa{
    opacity: 1;
    visibility: visible;

}

.gridmaestroscen figure:hover > .capa h5{
    margin-top: 70px;
    margin-bottom: 15px;
}

.gridmaestroscen figure .capa h5{
    color: white;
    font-weight: 400px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;

}

/*comienza la parte derecha*/
.gridmaestrosder{
    justify-self: start;
}

.gridmaestrosder{
    position: relative;
    height: 250px;
    width: 300px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;

}

.gridmaestrosder figure .grados{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.gridmaestrosder figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.gridmaestrosder figure:hover > .capa{
    opacity: 1;
    visibility: visible;

}

.gridmaestrosder figure:hover > .capa h5{
    margin-top: 70px;
    margin-bottom: 15px;
}

.gridmaestrosder figure .capa h5{
    color: white;
    font-weight: 400px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;

}


.grados{
    padding-top: 50px;
    text-align: center;
    background:#6D214F;
    color: white;
    font-size: 40px;
}



/*seccion talleres*/
.talleres{
    width: 100%;
    height: 1700px;
    background: #dff9fb;
    overflow: hidden;
}

.pagtitulo{
    padding-left: 50px;
}

.btn{
    border: 20px 30px;
}

h3{
    font-family: 'Times New Roman', Times, serif;
}


.gridtalleres div:hover{
    border: 3px solid #f1c40f;
}

.gridtalleres{
    padding: 20px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 30px;
}

.tallerestitle{
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.tallerestxt{
    justify-self: start;
    padding-top: 20px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.cuerpo hr{
    background-color:  #006266;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 43%;
  margin-right: 43%;
  border-style: inset;
  border-width: 4px;
}

/*intalaciones imagnes*/
.instalaciones{
    width: 100%;
    height: 700px;
}

.carousel{
    width: 50%;
    margin: auto;
}

.instaimg{
    width:45%;
    height: 400px;
}

/*redes sociales*/
.contacto{
    width: 100%;
    height: 450px;
    background: #f1f2f6;
   
}

.contacto a{
    margin: 0 30px;
}

.contacto a i{
    font-size: 3rem;
    color: black ;
}

.contacto a i:hover{
    font-size: 4rem;
    color: #6D214F ;
}

/*derechos reservados*/
footer{
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

footer a{
    text-decoration: none;
    color: #f1c40f;
}

footer a:hover{
    font-size:16px;
    color: #74CE06;
}

@media (max-width:500px){
    header{
        width: 100%;
        height:350px;
    }

    .gridpersonal{
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        grid-template-rows: repeat(10,1fr);
    }
    

}



    
